body{
    color:white;
    background-color: rgb(40, 38, 38);
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
}

h2{
    font-family: 'Times New Roman', Times, serif;
}

li{
    list-style: none;
}

.navbar{
    background-color:rgb(40, 38, 38) !important;
    color: white !important;
    width: 1000px;
}

.navbar-brand{

}
.line{
    color:white;
}

.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    border: 2px solid white;
    background-color:grey;
    color:white;
}
