body{
    color:white;
    background-color: rgb(40, 38, 38);
    
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aqua;
    text-align: center;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

li{
    list-style: none;
}

.navbar{
    background-color:rgb(40, 38, 38) !important;
    color: white !important;
    width: 1000px;
}

.navbar-brand{

}
.line{
    color:white;
}


a{
    color:white;
    text-decoration: none;
}

.container{
    border:2px solid white;
    border-radius: 4px;
    color:white;
    background-color: grey;
}

.example{
    border:2px solid white;
    border-radius: 4px;
    color:white;
    background-color: grey;
    max-width: 100px;
}